<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="com.slimakoi.aminox"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:theme="@style/AppBgTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:targetApi="p">
        <activity
            android:name="com.slimakoi.aminox.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="com.slimakoi.aminox.CommunitySelectorActivity" />
        <activity android:name="com.slimakoi.aminox.ActionSelectorActivity" />
        <activity android:name="com.slimakoi.aminox.EditTitlesActivity" />
        <activity android:name="com.slimakoi.aminox.InformationActivity" />
        <activity android:name="com.slimakoi.aminox.ChatActivity" />
        <activity android:name="com.slimakoi.aminox.FeedbackActivity" />
        <activity android:name="com.slimakoi.aminox.EasterEgg" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>
</manifest>